MEDUSA_BACKEND_URL: http://localhost:9000
NEXT_PUBLIC_MEDUSA_BACKEND_URL: http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY: pk_test
NEXT_PUBLIC_BASE_URL: http://localhost:8000
NEXT_PUBLIC_DEFAULT_REGION: us
REVALIDATE_SECRET: supersecret
NEXT_PUBLIC_LOGO: https://res.cloudinary.com/dqhzef5yz/image/upload/v1743743282/brandify_prev_ui_qq8rxd.png